.list_show{
    width: 90%;
    background-color: #000;
    border-radius: 15px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border: 3px solid #7e6e24;
    align-items: center;
    max-height: 50vh;
}
.ticket_body{
    width: 100%;
    max-height: 76vh;
    overflow: auto;
    max-height: 76vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}
.image_show {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.insta_color{
    color: #7e6e24;
    
}
.image_show img{
    /* width: 90px; */
    height: 90px;
}
.amount_btn{
    display: flex;
    place-items: center;
    place-content: center;
    cursor: pointer;
}