.image_round img{
    cursor: pointer;
    border-radius: 50%;
    min-height: 100px;
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
}
.mainas input{
    display:none;
}
.confirmDetails input{
    min-width: 300px;
    border-radius: 6px;
}
.mainas label{
    padding: 5px 3rem;
}
.errortext{
    font-weight: 700;
    color: #E11D48;
}
