.bar_address{
    color: var(--baraddress);
    margin:0.5rem 0; 
    text-align: center;
}
.whisky_dis{
    width:90%;
    background-color: black;
    text-align: center;
    color: white;
    border-radius: 15px;
    border: 2px solid lightgray;
}
.image_wid{
    padding: 1.5em;
}