.bar_detail{
    width:90%;
    border:2px solid black;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}
.back_icon .back_img .image_back img{
    display: none;
}
.barList{
    max-width: 90vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    margin-top: 43px;
}