.footer_body {
    position: fixed;
    bottom: 0;
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
}

.icon_size {
    max-width: 100px;
    min-width: 75px;
    border-radius: 20px;
    display: flex;
    justify-content:center;
}

.icon_size img {
    width: 35px;
    height: 35px;
    margin: auto;
}
.icon_size a{
    width: 100%;
    padding: 3px 0px;
    border-radius: 30px;
}
.activeLink{
    background-color: black;
}
.footer_body div img{
    cursor: pointer;
}