.App {
  width: 100vw;
  height: 100vh;
  background: #dddee2;
  /* background: linear-gradient(#000 60%, #F70054 ); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: black white;
}
body::-webkit-scrollbar-track {
  background: green;
}
body::-webkit-scrollbar-thumb {
  background-color: black ;
  border-radius: 6px;
  border: 3px solid blue;
}